// MIXIN



// VARIABLES
$header-height: 50px;


// COLORS
$clay-blue-color: #4d6e9b;
$dark-grey-color: #2A2627;
$grey-color: #888;
$silver-grey-color: #aaa;
$light-grey-color: #ddd;
$white-color: #fff;
$mine-black-color: #383838;
